.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-type-buttons {
  cursor: pointer;
  margin: 2px;
  transition: 0.3s ease;
  border: none;
  font-size: 2.5rem;
  color: white;
  background: none;
  margin-bottom: 2vh;
}

.display-type-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.display-type-buttons:hover {
  transition: 0.3s ease;
  font-size: 3rem;
}