.grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgba(131, 131, 131, 0.363);
  border-radius: 10px;
  background: #e3e3e4;
  background: -webkit-linear-gradient(to right, #ffffff, #e3e3e4);
  background: linear-gradient(to right, #ffffff, #e3e3e4);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-width: 30vw;
  min-height: 20vh;
}

.grid-wrapper:hover {
  transition: 0.2s ease;
  border: 2px solid rgba(131, 131, 131, 0.363);
}

.avatar-wrapper-grid {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-grid {
  width: 5vw;
}

.pokemon-name-grid {
  text-transform: capitalize;
  font-size: 1.10rem;
  color: rgb(48, 48, 48);
  text-align: center;
}

.list-container-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1vh;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: rgb(48, 48, 48);
}


.grid-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.grid-pokemon-id {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.grid-list-item {
  flex-grow: 0;
}

@media (max-width: 450px) {
  .grid-wrapper {
    min-width: 42vw;
    min-height: 27vh;
  }

  .avatar-grid {
    width: 20vw;
  }
}

@media (min-width: 451px) and (max-width: 1024px) {

  .avatar-grid {
    width: 15vw;
  }
    .grid-wrapper {
    min-width: 25vw;
    min-height: 26vh;
  }
}


@media (min-width: 1025px) {
  .grid-wrapper {
    min-width: 15vw;
    min-height: 30vh;
  }
  .avatar-grid {
    width: 5vw;
  }
  .list-container-grid {
    max-width: 70vw;
  }
}